<section>
  <p>This section helps you understanding key concepts used on this web app. </p>
  <p>Please drag and drop the right terminology with the matching parameters</p>
</section>
<div class="column column-options">
    <div class="item" draggable="true" value="airquality">Very Energetic</div>
    <div class="item" draggable="true" value="humidity">Very Muggy</div>
    <div class="item" draggable="true" value="temperature">Very Cold</div>
    <div class="item" draggable="true" value="humidity">Very Dry</div>
    <div class="item" draggable="true" value="airquality">Very Tired</div>
    <div class="item" draggable="true" value="temperature">Very Hot</div>
</div>
<div class="column column-drop"id="temperature" >
    <h3 class="dropZone" id="temperature">Temperature:</h3>
</div>
<div class="column column-drop" id="airquality">
    <h3 class="dropZone" id="airquality">Air Quality:</h3>
</div>
<div class="column column-drop" id="humidity">
    <h3 class="dropZone" id="humidity">Humidity:</h3>
</div>
