<ion-content>

  <h2 class="center-text">How are you feeling?</h2>

  <!-- RADIO BARS -->
  <section class="radio-bars">

<!-- =================== -->
<!--       GROUP 1       -->
<!-- =================== -->
<div class="container-group">
<div class="user-input">
<!-- SIGNIFIERS 1 HOT/COLD -->
<div class="space-between">
  <p class="signifiers">VERY HOT</p>
  <p class="signifiers">VERY COLD</p>
</div>
<!-- GROUP 1 HOT/COLD -->
<fieldset id="group1">
  <div class='options'>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="6">
      <span class='clickable clickable--first'></span>
    </label>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="5">
      <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="4">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="3">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="2">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="temperatureGroup" name="group-temperature" type='radio' value="1">
        <span class='clickable clickable--last'></span>
    </label>
  </div>
  </fieldset> <!-- GROUP 1 HOT/COLD -->
</div><!-- GROUP 1 USER INPUT -->

<div class="info-section">
  <ion-icon (click) ="presentAlertSheetTemperature()" class="ion-icon-info" size="large" name="information" style="cursor: pointer;">  </ion-icon>
</div>

</div> <!-- GROUP 1 CONTAINER -->

<!-- =================== -->
<!--       GROUP 2       -->
<!-- =================== -->
<div class="container-group">
<div class="user-input">
<!-- SIGNIFIERS 2 MUGGY/DRY -->
<div class="space-between">
  <p class="signifiers">VERY ENERGETIC</p>
  <p class="signifiers">VERY TIRED</p>
</div>
<!-- GROUP 2 MUGGY/DRY -->
<fieldset id="group2">
  <div class='options'>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="6">
        <span class='clickable clickable--first'></span>
    </label>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="5">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="4">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="3">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="2">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="airQualityGroup" name="group-airQuality" type='radio' value="1">
        <span class='clickable clickable--last'></span>

    </label>
  </div>
</fieldset><!-- GROUP 2 MUGGY/DRY -->
</div> <!-- GROUP 2 USER INPUT -->

<div class="info-section">
  <ion-icon (click) ="presentAlertSheetAirQuality()" class="ion-icon-info" size="large" name="information" style="cursor: pointer;">  </ion-icon>
</div>

</div> <!-- GROUP 2 CONTAINER -->


<!-- =================== -->
<!--       GROUP 3       -->
<!-- =================== -->
<div class="container-group">
<div class="user-input">
<!-- SIGNIFIERS 3 MUGGY/DRY -->
<div class="space-between">
  <p class="signifiers">VERY MUGGY</p>
  <p class="signifiers">VERY DRY</p>
</div>
<!-- GROUP 3 MUGGY/DRY -->
<fieldset id="group3">
  <div class='options'>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="1">
        <span class='clickable clickable--first'></span>

    </label>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="2">
        <span class='clickable'></span>

    </label>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="3">
        <span class='clickable'></span>

    </label>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="4">
        <span class='clickable'></span>

    </label>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="5">
        <span class='clickable'></span>
    </label>
    <label>
      <input [(ngModel)]="humidityGroup" name="group-humidity" type='radio' value="6">
        <span class='clickable clickable--last'></span>
    </label>
</div>
</fieldset><!-- GROUP 3 MUGGY/DRY -->
</div><!-- GROUP 3 USER INPUT -->



  <div class="info-section">
    <ion-icon (click) ="presentAlertSheetHumidity()" class="ion-icon-info" size="large" name="information" style="cursor: pointer;">  </ion-icon>
  </div>

</div> <!-- GROUP 3 CONTAINER -->
</section>

<ion-list>
  <ion-item>
  <ion-label>Gender</ion-label>
  <ion-select [(ngModel)]="genderGroup" placeholder="Select One">
    <ion-select-option *ngFor="let gender of genders">{{gender}}</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Zone</ion-label>
    <ion-select [(ngModel)]="zoneGroup" placeholder="Select One">
      <ion-select-option *ngFor="let zone of zones" >{{zone}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div style="display: flex; justify-content: center;">


  <ion-button
    color="light"
    class="submit-button"
    routerLink="/home" routerDirection="forward"
    style="margin-right: 18px;">
      CANCEL
  </ion-button>

  <ion-button
    class="submit-button"
    style="margin-left: 18px;"
    routerLink="/home" routerDirection="forward"
    ion-button (click)="PostDataAPI()"
    (click)="showMyToast()">
      SUBMIT
  </ion-button>

  <!-- DRAG AND DROP -->
  <ion-modal trigger="drag&drop">
    <ng-template>
      <ion-content>
        <div class="container" style="margin: 30px;">
          <h1>DRAG AND DROP</h1>
          <ul>
            <li draggable>Coffee</li>
            <li draggable>Tea</li>
            <li draggable>Milk</li>
          </ul>
          <div droppable>
            <p>Drop items here</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</div>

<a id="drag&drop" class="float" style="color: black;">
  <ion-icon style="font-size:20px; margin-bottom: -5px;" name="help-circle-outline"></ion-icon>
  HELP
</a>
<button> Hello</button>
</ion-content>
