<ion-header>
  <ion-toolbar>
    <div style="display:flex; margin: 0 auto; max-width: 730px;">
      <ion-title class="mobile-responsive">ClimateRight - Admin Control Panel</ion-title>
      <ion-title style="text-align: end;" class="mobile-padding">
        <ion-button color="dark" routerLink="/home" routerDirection="forward">
          <ion-icon name="log-out-outline"></ion-icon>
          &nbsp;
          LOGOUT
        </ion-button>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

<div class="container" style="display: flex; justify-content: center;">
  <ion-list style="width: 700px;" >
    <h1
      style="
      text-transform: uppercase;
      margin-left: 10px">
        Information Buttons
    </h1>
    <p style="margin-left: 10px;">Edit description for each information button</p>
    <ion-card *ngFor="let info of infos" style="margin: 30px 10px;">
      <ion-card-header>
        {{info.name}}
      </ion-card-header>
      <ion-card-content>
        {{info.description}}
      </ion-card-content>
      <ion-button id="edit{{info.name}}" color="medium">
        <ion-icon name="create">EDIT</ion-icon>
      </ion-button>
      <ion-button   id="{{info.id}}"  color="danger">
        <ion-icon name="trash">DELETE</ion-icon>
      </ion-button>

       <!-- Delete confirmation view -->

      <ion-modal trigger="{{info.id}}">
        <ng-template>
          <ion-content>
            <div class="container" style="margin: 30px;">
        <h1> Are you sure you want to delete {{info.name}}?</h1>
        <br><br>
        <ion-button color="light" (click)="reloadPage()">
          Cancel
        </ion-button>
        <ion-button  (click)="deleteItem(info.id)">
          Yes
        </ion-button>
      </div>
      </ion-content>
    </ng-template>
      </ion-modal>

      <!-- EDIT VIEW -->
      <ion-modal trigger="edit{{info.name}}">
        <ng-template>
          <ion-content>
            <div class="container" style="margin: 30px;">
              <input type="text" [(ngModel)]="info.name">
              <br><br>
              <textarea [(ngModel)]="info.description" id="data{{info.id}}" cols="55" rows="6"></textarea>
              <br>
              <ion-button color="light" (click)="reloadPage()">
                CANCEL
              </ion-button>
              <ion-button (click)="updateItem(info.id, info.name, info.description)">
                SAVE
              </ion-button>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
    <br>

    <!-- ADD INFORMATION BUTTON-->
    <ion-button id="addinfo" style="margin-left: 10px;">
      ADD INFORMATION
    </ion-button>
    <!-- ADD INFORMATION VIEW -->
    <ion-modal trigger="addinfo">
      <ng-template>
        <ion-content>
          <div class="container" style="margin: 30px;">
            <p>Name:</p>
            <input id="newInfoName"type="text" placeholder="Write name here">
            <br>
            <br>
            <p>Description:</p>
            <textarea id="newInfoDescription" placeholder="Write descripion here" cols="55" rows="6"></textarea>
            <br>
            <ion-button color="light" (click)="reloadPage()">
              CANCEL
            </ion-button>
            <ion-button (click)="saveNewInfo()">
              ADD
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-list>
</div>

</ion-content>
