<fieldset *ngIf="info.id === 1">
  <h5>{{info.name}}:</h5>
  <p>{{info.description}}</p>
  <br>
  <ion-button id="edit{{info.name}}" color="medium">
    <ion-icon name="create">EDIT</ion-icon>
  </ion-button>
  <ion-button color="danger">
    <ion-icon name="trash">DELETE</ion-icon>
  </ion-button>
  <!-- EDIT TEMPERATURE VIEW -->
  <ion-modal trigger="editTemperature">
    <ng-template>
      <ion-content>
        <div class="container" style="margin: 30px;">
          <h5>{{info.name}}</h5>
          <textarea [(ngModel)]="info.description" id="data{{info.id}}" cols="55" rows="6"></textarea>
          <br>
          <ion-button color="light" (click)="reloadPage()">
            CANCEL
          </ion-button>
          <ion-button (click)="updateDefaultData1()">
            SAVE
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</fieldset>
<fieldset *ngIf="info.id === 2">
  <h5>Air Quality:</h5>
  <p>{{info.description}}</p>
  <br>

  <ion-button id="editAirQuality" color="medium">
    <ion-icon name="create">EDIT</ion-icon>
  </ion-button>
  <ion-button color="danger" style="cursor:not-allowed;">
    <ion-icon name="trash" >DELETE</ion-icon>
  </ion-button>
  <!-- EDIT AIR QUALITY VIEW -->
  <ion-modal trigger="editAirQuality">
    <ng-template>
      <ion-content>
        <div class="container" style="margin: 30px;">
          <h5>AirQuality:</h5>
          <textarea [(ngModel)]="info.description" id="data{{info.id}}" cols="55" rows="6"></textarea>
          <br>
          <ion-button color="light" (click)="reloadPage()">
            CANCEL
          </ion-button>
          <ion-button (click)="updateDefaultData2()">
            SAVE
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</fieldset>

<fieldset *ngIf="info.id === 3">
  <h5>Humidity:</h5>
  <p>{{info.description}}</p>
  <br>
  <ion-button id="editHumidity" color="medium">
    <ion-icon name="create">EDIT</ion-icon>
  </ion-button>
  <ion-button color="danger">
    <ion-icon name="trash">DELETE</ion-icon>
  </ion-button>

  <!-- EDIT HUMIDITY VIEW -->
  <ion-modal trigger="editHumidity">
    <ng-template>
      <ion-content>
        <div class="container" style="margin: 30px;">
          <h5>Humidity:</h5>
          <textarea [(ngModel)]="info.description" id="data{{info.id}}" cols="55" rows="6"></textarea>
          <br>
          <ion-button color="light" (click)="reloadPage()">
            CANCEL
          </ion-button>
          <ion-button (click)="updateDefaultData3()">
            SAVE
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</fieldset>
