<ion-content>
  <div class="background--picture">


    <div class="logo" style="background-image: url('../../assets/logo.svg');"></div>
    <p>Climate Right is a personalised ventilation system designed to maximize personal comfort in a controlled indoor climate environment. In order to provide the best climate personalized for you please click START</p>
    <ion-button color="light" class="center-button" routerLink="/form" routerDirection="forward"><ion-icon name="arrow-forward-circle"></ion-icon>&nbsp;START</ion-button>
    <br>
    <ion-modal trigger="loginTrigger">
      <ng-template>
        <ion-content>
          <div class="container" style="margin: 30px;">
            <h5>Username:</h5>
            <input [(ngModel)]="usernameInput" type="text" placeholder="Username: admin">
            <br>
            <h5>Password:</h5>
            <input [(ngModel)]="passwordInput" type="password" placeholder="Password: 123">
            <br>
            <br>
            <ion-button color="light" (click)="reloadPage()">
              CANCEL
            </ion-button>
            <ion-button (click)="login()">
              LOGIN
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <a id="loginTrigger" class="float" style="color: white;">
      <ion-icon style="font-size:20px; margin-bottom: -1px;" size="small" name="lock-closed-outline"></ion-icon>
    ADMIN
    </a>

  </div>
</ion-content>
