<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      HOME PAGE
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="background--picture">
    <div class="logo" style="background-image: url('../../assets/logo.svg');"></div>
    <p style="color: white; font-size: large;">Climate Right is a personalised ventilation system designed to maximase personal comfort in a controlled indoor climate environment. In order to provide the best climate personalized for you please click START</p>
    <ion-button routerLink="/form" routerDirection="forward">START</ion-button>
  </div>
</ion-content>
