<ion-content>
  <div class="background--picture">


    <div class="logo" style="background-image: url('../../assets/logo.svg');"></div>
    <!-- <p class="desktop-text">Climate Right is a personalised ventilation system designed to maximize personal comfort in a controlled indoor climate environment. In order to provide the best climate personalized for you please click START</p> -->
    <p class="mobile-text">Maximize personal comfort in a controlled indoor environment by pressing start</p>
    <ion-button color="light" class="center-button" routerLink="/form" routerDirection="forward"><ion-icon name="arrow-forward-circle"></ion-icon>&nbsp;START</ion-button>
    <br>
    <ion-modal trigger="loginTrigger">
      <ng-template>
        <ion-content>
          <div class="general-container">
            <div class="lock-containter">
              <ion-icon style="font-size:50px;" name="lock-closed-outline"></ion-icon>
            </div>
            <h5
              style="
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 30px;">
                Dashboard Access
            </h5>
            <div class="login-container">
              <input class="login-input" [(ngModel)]="usernameInput" type="text" placeholder="Username">
              <input class="login-input" [(ngModel)]="passwordInput" type="password" placeholder="Password">
            </div>
            <div class="buttons-login">
              <ion-button color="light " (click)="reloadPage()">
              <ion-icon name="close-circle-outline"></ion-icon>
              &nbsp;CANCEL
              </ion-button>
              <ion-button color="dark" (click)="login()">
              <ion-icon name="checkmark-circle"></ion-icon>
              &nbsp;LOGIN
              </ion-button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <a id="loginTrigger" class="float" style="color: white;">
      <ion-icon style="font-size:20px; margin-bottom: -1px;" size="small" name="lock-closed-outline"></ion-icon>
    DASHBOARD
    </a>

  </div>
</ion-content>
