#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.background--picture {
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
  transform: translateY(-10px);
}

.logo {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;

  transform: translateY(40px);
  margin-top: 10px;
  margin-bottom: 60px;
  height: 260px;
}

p {
  max-width: 670px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 50px;
}

// RESPONSIVE

/* ============================= */
/* MOBILE WIDTH SIZE             */
/* ============================= */
@media only screen and (max-width: 48.125em) {

  .logo {
    margin-bottom: 70px;
  }

	p {
		max-width: 93%;
	}
}
